body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    position: relative;
}

h1 h2 h3 h4 h5 h6 {

}

h4{
    margin: 0px 0px 20px 0px;
}

nav {
    /*background-color: mediumpurple;*/
}

header {
    margin: 70px 0px 20px 0px;
    padding: 0px 0px 0px 45px;
}

/*aside {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    text-align: right;
    padding: 0px 30px;
}*/

section {
    min-height: 1600px;
    padding: 70px 0px 20px 0px;
}

article {
    /*display: inline-block;*/
    /*margin-left: 0px;*/
    /*max-width: 80%;*/
}

article>p {
    /*max-width: 400px;*/
}


figure {
    display: inline-block;
}

/*.navitem{
    margin: 20px;
}*/


.brand {
    height: 20px;
    width: 20px;
}

.photos {
    float: right;
    /*display: inline;*/
    max-width: 40%;
    max-height: 300px;
    min-width: 200px;
    margin: 50px;
}

.photo {
    max-width: 90%;
    max-height:400px;
    margin: 0px 0px 20px 0px;    
}

.project {
    margin-top: 10px;
    height: 75px;
    width: 75px;
    vertical-align: top;
}


.terminal {
    padding: 0px 0px 0px 60px;
}

#home {
    font-family: 'Cairo', sans-serif;
    color: greenyellow;
    background-color: gray;
}

#about {
    background-color: orchid;
}

#portfolio {
    background-color: fuchsia;
}

#contact {
    background-color: pink;
}
