body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    position: relative;
}

h1 h2 h3 h4 h5 h6 {
}


@-webkit-keyframes typing {
    from { width: 4.5em;  }
    to { width: 22em; }
}

@-moz-keyframes typing {
    from { width: 4.5em; }
    to { width: 22em; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: greenyellow; }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: greenyellow; }
}

span {
    animation: blink 1s infinite;
}

h1 {
    font-family: "Courier";
    /*white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid greenyellow;
    -moz-animation-delay: 15s;
    -webkit-animation-delay: 15s;
    -webkit-animation: typing 2s steps(20, end), blink-caret 1s step-end infinite;
    -moz-animation: typing 2s steps(20, end), blink-caret 1s step-end infinite;*/
}

h5 {
    font-family: "Courier";
    padding: 0px 0px 0px 150px;
    margin: 0px ;}

h4 {
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 4rem;
     margin: 0px 0px 20px 0px;
}

p{
    line-height: 2;
    margin: 0px 0px 25px 0px;
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
}

nav {
    /*background-color: mediumpurple;*/
}

header {
    margin: 70px 0px 20px 0px;
    padding: 0px 0px 0px 45px;
}

/*aside {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    text-align: right;
    padding: 0px 30px;
}*/

section {
    min-height: 1800px;
    padding: 70px 0px 20px 0px;
}

article {
    /*display: inline-block;*/
    /*margin-left: 0px;*/
    /*max-width: 80%;*/
}

    article > p {
        /*max-width: 400px;*/
    }

.projectheader{
    border-top: 1px solid black;
}

figure {
    width: 255px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

/*.navitem{
    margin: 20px;
}*/


.brand {
    height: 20px;
    width: 20px;
}

.photos {
    float: right;
    /*display: inline;*/
    max-width: 40%;
    max-height: 300px;
    min-width: 200px;
    margin: 50px;
}

.photo {
    max-width: 90%;
    max-height: 400px;
    margin: 0px 0px 20px 0px;
}

.project-thumb {
    margin-top: 10px;
    height: 75px;
    width: 75px;
    vertical-align: top;
}

.project-photo {
    display: block;
    margin: auto;
    margin-top: 10px;
    /*height: 225px;*/
    width: 100%;
    vertical-align: top;

}

#bp {
    height: auto;
    width: 200 px;
}


.terminal {
    padding: 0px 0px 0px 0px;
    /*width: 600px;*/
}

#home {
    font-family: 'Cairo', sans-serif;
    color: greenyellow;
    background-image: url("../images/background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#about {
  background: lightcyan; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, blue); /* Standard syntax */
}

#portfolio {
  background: lightcyan; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, blue); /* Standard syntax */

}

#contact {
    background-image: url("../images/pdxview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.linkedin {
    color: #1A84BC;
}

.social-links .btn {
    margin-top: 10px;
    background-color: #ddd;
    border-color: #aaa;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transform: scale(1);
    border-radius: 10%;
    font-size: 3em;
    height: 1.6em;
    width: 1.6em;
}

.social-links .btn-default:hover {
    box-shadow: 0px 0px 70px #556677;
    background-color: #111;
    border-color: #000;
    color: #ddd;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transform: scale(.9);
}


.parallax-window {
    min-height: 400px;
    background: transparent;
}

.test{ background-color: red;
       height: 1800px;
       padding: 0px
}

.pipmenu:hover {
    opacity: 0.8;
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px gold, 0 0 5px yellow;
    cursor: pointer;
}